<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huipengpay.demo.dao.TbOptMapper" >
  <resultMap id="BaseResultMap" type="com.huipengpay.demo.model.TbOpt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, descr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TB_OPT
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TB_OPT
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huipengpay.demo.model.TbOpt" >
    insert into TB_OPT (id, descr)
    values (#{id,jdbcType=INTEGER}, #{descr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huipengpay.demo.model.TbOpt" >
    insert into TB_OPT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="descr != null" >
        descr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huipengpay.demo.model.TbOpt" >
    update TB_OPT
    <set >
      <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huipengpay.demo.model.TbOpt" >
    update TB_OPT
    set descr = #{descr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>