<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
		default-lazy-init="true">
		
	<!-- 方言配置 -->
	<bean id="vendorProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="DB2">db2</prop>
				<prop key="Oracle">oracle</prop>
				<prop key="MySQL">mysql</prop>
			</props>
		</property>
	</bean>
	<bean id="databaseIdProvider" class="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
		<property name="properties" ref="vendorProperties" />
	</bean>			
		
   <!-- ################## new hlpay #################	 -->		
	<!-- 数据源代理 格式化 -->
	<bean id="dataSource_new_hlpay_proxy" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
		<constructor-arg ref="dataSource_new_hlpay" />
		<property name="logFormatter">
			<bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter">
				<property name="loggingType" value="SINGLE_LINE" />
				<!-- <property name="margin" value="1" />  报错 里面的set方法无法执行 fuck-->
				<property name="sqlPrefix" value="SQL:::" />
			</bean>
		</property>
	</bean>	
	
	<!-- 分页代理尚未加入 -->
	
	<!-- MyBatis配置 -->
	<bean id="newHLsqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_new_hlpay_proxy" />

		<!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
		<property name="typeAliasesPackage" value="com.hlpay.base.entity" /><!-- 注意 根据实际包路径 -->
		<!-- 显式指定Mapper文件位置 -->
		<property name="mapperLocations" value="classpath:/mybatis/*Mapper.xml" />
		<property name="databaseIdProvider" ref="databaseIdProvider" />
	</bean>
	
	<!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="newHLsqlSessionFactory" /><!-- 指定数据源 -->	
		<property name="basePackage" value="com.hlpay.base.dao" /><!-- 注意 根据实际包路径 -->
		<property name="annotationClass" value="com.hlpay.base.dao.NewHLRepository"/><!-- 注意 根据实际包路径 -->
	</bean>
	
	<!-- 事务  -->  
	<!-- 单个数据源 实物配置 -->
	<bean id="newHLTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_new_hlpay" />
	</bean>
	<tx:annotation-driven transaction-manager="newHLTransactionManager"/>
   <!-- ################## end new hlpay #################	 -->		
</beans>	